gradio
openai-whisper

torch
torchaudio

huggingface-hub
transformers
safetensors

numpy<2
scipy
librosa
soundfile

munch
einops
descript-audio-codec
hydra-core
omegaconf
pyyaml

funasr
modelscope
resemblyzer

matplotlib
pydub
accelerate
jiwer
sounddevice
python-dotenv